.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 16px;
  justify-items: center;
  align-items: center;
}

.main {
  height: 100dvh;
}

.footer {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
}